/* ランキング用のCSS */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.v-rank-lists {
  border-top: 1px solid #dcdcdc;
  color: #333;
  line-height: 1.5;
}

.v-rank-lists__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}
ul li {
  list-style: none;
}
.v-rank-lists__item-thumbnail{
  width: 75px;
  border-right: 1px solid #dcdcdc;
}
.v-rank-lists__item-details {
  -webkit-box-flex:1;
  -webkit-flex: 1 1 0%;
  -moz-box-flex: 1;
  -moz-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  min-width: 0;
  padding: 5px 5px 5px 10px;
  border-left:1px solid #fff;
}
.v-rank-list__name-link{
  fornt-weight: normal;
  word-wrap: : break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

/* ランキング用CSSここまで */
