{% extends "layout.html" %}
{% block content %}
  <!-- Form
  ================================================ -->
<div class="form width-full">
  <div class="content">
    <div class="headline">
      <a class="headline__word">時価総額ランキング {{today}}</a>
    </div>
    <!-- ランキングのリンク -->
    {% if number >= 2 %}
    <a href="{{number-1}}">{{(number-1)*100-99}}-{{(number-1)*100}}位</a>
    {% endif %}
    <a>{{number*100-99}}-{{number*100}}位</a>
    {% if number <= 9 %}
    <a href="{{number+1}}">{{(number+1)*100-99}}-{{(number+1)*100}}位</a>
    {% endif %}

    <!-- bmを模したコード -->
    <div class="v-rank__content">
      <ul class="v-rank-lists">
        <!-- このliをループさせる -->
        {% for num in message[0:100] %}
        <a>{{num['rank']|int}}</a>
        <li class="v-rank-lists__item">
          <div class="v-rank-lists__item-thumbnail" style="background: url({{num['imgurl']}}) center no-repeat; background-size: cover;">
          </div>
          <div class="v-rank-lists__item-details">
            <div class="v-rank-lists__name">
              <a class="v-rank-lists__name-link" href={{num['url']}} target="_blank">{{num['name']}}</a>
            </div>
            <div class="v-rank-list__capital">
              <a>{{num['jika']}} BTC</a>
            </div>
          </div>
        </li>
        {% if num['rank']|int % 50 == 25 %}
        <a>スポンサーリンク</a>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- valuer -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-7611852587780285"
        data-ad-slot="2545725458"
        data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <!-- ランキングのリンク　下用 -->
    {% if number >= 2 %}
    <a href="{{number-1}}">{{(number-1)*100-99}}-{{(number-1)*100}}位</a>
    {% endif %}
    <a>{{number*100-99}}-{{number*100}}位</a>
    {% if number <= 9 %}
    <a href="{{number+1}}">{{(number+1)*100-99}}-{{(number+1)*100}}位</a>
    {% endif %}
  </div>
</div>
{% endblock %}
